.proContainer {
    position: relative;
    padding-top: 30px;
    background-size: cover !important;
} 

.pro1 {
    opacity: 1;
    background-repeat: no-repeat;
    background-image: url("../../../static/images/Professional.png");
    
}

.pro1:hover {
    background: linear-gradient(to bottom, transparent, black),
    url("../../../static/images/Professional.png");
}


.pro2 {
    background: url("../../../static/images/Professional.png");
    opacity: 1;
    background-repeat: no-repeat;


}
.pro2:hover {
    background: linear-gradient(to bottom, transparent, black),
    url("../../../static/images/Professional.png");
}

.pro3 {

    background: url("../../../static/images/Professional.png");
    opacity: 1;
    background-repeat: no-repeat;



}

.pro3:hover {
    background: linear-gradient(to bottom, transparent, black),
    url("../../../static/images/Professional.png");
}

.alma-picture-container {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    text-align: center;
}

.bg-position-center {
    background-position: center;
}