.logoImg {

    width: 150px;
    height: 50px;
    background-size: cover; /* Adjust as needed */
    margin: 0 auto; /* Center horizontally */
    display: block; /* Make it a block element */
    text-align: center; /* Center horizontally within the block element */
    color: transparent; /* Hide any text (for accessibility) */
}