.jumbotron {
    background-color: #2196F3;
    background-image: url('../../images/Jumbotron.png');
    height: 800px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;

}

    @media (max-width: 768px) {
      .jumbotron {
        padding: 50px; /* Reduce padding for tablets */
      }
    
      .jumbotron img {
        max-width: 80%; /* Reduce the image size for tablets */
      }
    }
    
    /* Breakpoint for small screens (mobile) */
    @media (max-width: 576px) {
      .jumbotron {
        padding: 30px; /* Further reduce padding for mobile */
      }
    
      .jumbotron img {
        max-width: 60%; /* Reduce the image size for mobile */
      }
    }


  
  .jumbotron-content {
    position: absolute;
    top: 50%; /* Vertically center content */
    left: 50%; /* Horizontally center content */
    transform: translate(-50%, -50%); /* Center content perfectly */
    text-align: center;
    color: white; /* Change text color to ensure readability */
    padding: 20px;
  }
  