@font-face {
  font-family: "MontaguSlab";
  font-style: normal;
  font-weight: normal;
  src: local("MontaguSlab"),
    url("../../static/fonts/MontaguSlab_96pt-SemiBold.ttf") format("truetype");
}

.jumbotron {
  background-image: url("../../static/images/JumbotronFinal");
  max-height: 900px;
  height: 140vh;
  width: 100%;
  background-repeat: no-repeat; 
  background-position: top;
  background-size: cover;
  color: black;
  position: relative;
}

.jumboFont {
  font-family: "MontaguSlab" !important;
  font-size: 16px;
}

.jumboButton {
  width: 300px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 150px;
}

.h1 {
  margin: 10;
}
.h2 {
  margin: 100;
}
.h3 {
  margin: 10;
}
@media (max-width: 1200px) {
  /*
  .jumbotron {
    padding: 50px;  Reduce padding for tablets 
  }
*/
  .jumbotron img {
    max-width: 100%; /* Reduce the image size for tablets */
  }
}

/* Breakpoint for small screens (mobile) */
@media (max-width: 576px) {
  /*
  .jumbotron {
    padding: 30px;  Further reduce padding for mobile 
  }
*/
  .jumbotron img {
    max-width: 60%; /* Reduce the image size for mobile */
  }
}

.jumbotron-content {
  position: absolute;
  top: 50%; /* Vertically center content */
  left: 5%; /* Horizontally center content */
  color: white; /* Change text color to ensure readability */
  padding: 20px;
  font-size: 40px;
}
