@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins'), url('./static/fonts/Poppins-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    src: local('Poppins'), url('./static/fonts/Poppins-ExtraBold.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: light;
    src: local('Poppins'), url('./static/fonts/Poppins-Light.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: medium;
    src: local('Poppins'), url('./static/fonts/Poppins-Medium.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: lighter;
    src: local('Poppins'), url('./static/fonts/Poppins-ExtraLight.ttf') format('truetype');
  }

body {
  font-family: 'Poppins';
  background-color: #e9e4e1;
}

.general-padding {
  padding-left: 100px;
  padding-right: 100px;
}

.dark-blue {
  color: #273043;
}

.m-0 {
  margin: 0;
}

h2 {
  font-size: 3em;
  font-weight: 900;
  margin: 0;

  
}

h3 {
  font-size: 1.7em;
  font-weight: 500;
  margin: 0;

}

.font-poppins {
  font-family: 'Poppins' !important;
}

.color-white {
  color: #FFF;
}