@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins'), url('./static/fonts/Poppins-Regular.ttf') format('truetype');
  }
body{font-family: 'Poppins'}